@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i|Montserrat:300,400,500&subset=cyrillic');

@font-face {
	font-family: 'Transgender Grotesk';
	src: url('../static/_fonts/Transgender Grotesk-Regular-Trial.eot');
	src: url('../static/_fonts/Transgender Grotesk-Regular-Trial.eot#iefix') format('embedded-opentype'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.woff2') format('woff2'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.woff') format('woff'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--Pink100: rgba(255, 219, 228, 1);
	--Pink0: rgba(255, 219, 228, 0);

	--PinkLight100: rgba(245, 238, 242, 1);

	--PinkDark100: rgba(206, 141, 165, 1);

	--Black100: rgba(37, 37, 37, 1);
	--Black84: rgba(37, 37, 37, .84);
	--Black72: rgba(37, 37, 37, .72);
	--Black64: rgba(37, 37, 37, .64);
	--Black48: rgba(37, 37, 37, .48);
	--Black36: rgba(37, 37, 37, .36);
	--Black16: rgba(37, 37, 37, .16);
	--Black0: rgba(37, 37, 37, 0);

	--White100: rgba(255, 255, 255, 1);
	--White84: rgba(255, 255, 255, .84);
	--White72: rgba(255, 255, 255, .72);
	--White64: rgba(255, 255, 255, .64);
	--White48: rgba(255, 255, 255, .48);
	--White36: rgba(255, 255, 255, .36);
	--White24: rgba(255, 255, 255, .24);
	--White16: rgba(255, 255, 255, .16);
	--White0: rgba(255, 255, 255, 0);

	--Gray100: rgba(161, 178, 197, 1);
	--Gray88: rgba(161, 178, 197, .88);
	--Gray64: rgba(161, 178, 197, .64);
	--Gray44: rgba(161, 178, 197, .44);
	--Gray32: rgba(161, 178, 197, .32);
	--Gray20: rgba(161, 178, 197, .2);
	--Gray0: rgba(161, 178, 197, 0);

	--GrayLight100: rgba(242, 242, 242, 1);

	--Violet100: rgba(125, 96, 216, 1);
	--Violet64: rgba(125, 96, 216, .64);
	--Violet32: rgba(125, 96, 216, .32);

	--Beige100: rgba(208, 193, 187, 1);
	--Beige88: rgba(208, 193, 187, .88);
	--Beige64: rgba(208, 193, 187, .64);
	--Beige44: rgba(208, 193, 187, .44);
	
	--BeigeLight100: rgba(228, 216, 212, 1);

	--BlueLight100: rgba(152, 206, 255, 1);
	--BlueLightShadow100: rgba(112, 170, 223, 1);
	--BlueLightShadow88: rgba(112, 170, 223, .88);
	--BlueLightShadow64: rgba(112, 170, 223, .64);
	--BlueLightShadow44: rgba(112, 170, 223, .44);

	--font-default: 'Montserrat', sans-serif;
	--font-serif: serif;
	--font-transgender: 'Transgender Grotesk', sans-serif;
}



/* CSS reset */

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

blockquote::before,
blockquote::after {
    content: "";
}



/* Document Setup */

html {
	font-size: 62.5% !important;	/* 1rem = 10px */
}

html,
body {
	background-color: transparent;
	font-family: var(--font-default);
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	transition: background-color 0.25s linear;
}

body {
	color: var(--Black100);
	-webkit-text-size-adjust: none;
}

a {
	color: var(--Black100);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .175s ease-in-out;
}
a:hover {
	color: var(--Black64);
}

.link-underline-solid {
	border-bottom: .5px solid;
}
.link-underline-dashed {
	border-bottom: 1px dashed;
}
.link-underline-dotted {
	border-bottom: 1px dotted;
}

.input-wrapper {
	margin-top: 4.4rem;
	position: relative;
}

input[type=text],
input[type=datetime],
input[type=tel],
textarea {
	background: transparent;
	box-sizing: border-box;
	border: none;
	border-bottom: 4px solid;
	color: var(--Black100);
	font-size: 2.4rem;
	line-height: 2.8rem;
	margin: 0;
	outline: none;
	padding: 2rem 0;
	transition: all 0.35s ease-in-out; 
	-webkit-appearance: none;
}

.input-wrapper input[type="text"] + label[data-placeholder],
.input-wrapper input[type="datetime"] + label[data-placeholder],
.input-wrapper input[type="tel"] + label[data-placeholder],
.input-wrapper textarea {
	pointer-events: none;
}

.input-wrapper input[type="text"] + label[data-placeholder]:after,
.input-wrapper input[type="datetime"] + label[data-placeholder]:after,
.input-wrapper input[type="tel"] + label[data-placeholder]:after,
.input-wrapper textarea:after {
	content: attr(data-placeholder);
	cursor: text;
	color: var(--Black36);
	display: block;
	font-weight: 500;
	letter-spacing: .08em;
	text-transform: uppercase;
	padding: 0;
	position: absolute;
	top: 4rem;
	left: 0;
	-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	-webkit-transition: all 0.175s ease-in-out;
			transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"]:hover,
.input-wrapper input[type="datetime"]:hover,
.input-wrapper input[type="tel"]:hover,
.input-wrapper textarea:hover,
.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="datetime"]:focus,
.input-wrapper input[type="tel"]:focus,
.input-wrapper textarea:focus {
	border-bottom-color: var(--Black100);
}
.input-wrapper input[type="text"]:valid,
.input-wrapper input[type="datetime"]:valid,
.input-wrapper input[type="tel"]:valid,
.input-wrapper textarea:valid {
    border-bottom-color: var(--Black100);
}
.input-wrapper input[type="text"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="datetime"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:focus + label[data-placeholder]:after,
.input-wrapper textarea:focus + label[data-placeholder]:after,
.input-wrapper input[type="text"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="datetime"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:valid + label[data-placeholder]:after,
.input-wrapper textarea:valid + label[data-placeholder]:after {
    -webkit-transform: translate(-10%, -340%) scale(0.8, 0.8);
            transform: translate(-10%, -340%) scale(0.8, 0.8);
    color: var(--Black100);
}

.button,
button,
input[type=button],
input[type=submit] {
	background: var(--Black100);
	border: none;
	border-radius: 1000px;
	color: var(--White100);
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	letter-spacing: .08em;
	line-height: 1.6rem;
	padding: 2rem 2.4rem;
	text-transform: uppercase;
	transition: background-color .125s ease-in-out,
				box-shadow .125s ease-in-out,
				color .125s ease-in-out,
				text-shadow .125s ease-in-out,
				transform .125s ease-in-out;
}
.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	transform: translateY(-.8rem);
}
.button:disabled,
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
	background: var(--White16);
	color: var(--White48) !important;
	cursor: default;
	transform: none !important;
	-webkit-backdrop-filter: blur(8px);
			backdrop-filter: blur(8px);
}

.button-big {
	font-family: var(--font-transgender);
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.8rem;
	text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-transgender);
	font-weight: 400;
	letter-spacing: -1px;
}

h1 {
	font-size: 8rem;
	line-height: 8.5rem;
	margin: 2rem 0 0;
}

h1+.subtitle {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 140%;
}

h2 {
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}

h2>i,
h2>nobr>i {
	font-size: 3.55rem;
	position: relative;
	top: -.05rem;
}

h2+.subtitle {
	font-size: 1.35rem;
	font-weight: 300;
	line-height: 140%;
}

h3 {
	font-size: 2rem;
	line-height: 140%;
	margin: 2rem 0 .5rem;
}

h4 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

i {
	font-family: var(--font-serif);
	font-style: italic;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.subtitle {
	font-size: .9rem;
	letter-spacing: .04em;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.font-dark {
	color: var(--Black100);
	border-bottom-color: var(--Black32);
}
.font-light {
	color: var(--White100);
	border-bottom-color: var(--White48);
}

.text-outlined {
	letter-spacing: 0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--Black);
}

.icon-svg {
	display: block;
	height: 100%;
	max-height: 5.7rem;
	max-width: 5.7rem;
	width: 100%;
}

.star-plus-svg,
.star-x-svg {
	display: inline-block;
}

::selection {
	background-color: var(--Black100);
	color: var(--White100);
}


/* Main */

#app {
	min-height: 100vh;
	transition: background-color 0.35s ease;
}

.address-socials-wrapper,
.address-socials-wrapper a {
	color: var(--Violet100);
	border-bottom-color: var(--Violet32);
}
.address-socials-wrapper a:hover {
	color: var(--Violet64);
	border-bottom-color: var(--Violet32);
}
.colors-section-realised.address-socials-wrapper a {
	color: var(--Gray100);
	border-bottom-color: var(--Gray32);
}
.colors-section-realised.address-socials-wrapper a:hover {
	color: var(--Gray64);
	border-bottom-color: var(--Gray32);
}
.colors-section-freefreefree.address-socials-wrapper a,
.colors-section-order.address-socials-wrapper a,
.colors-section-contacts.address-socials-wrapper a {
	color: var(--White100);
	border-bottom-color: var(--White32);
}
.colors-section-freefreefree.address-socials-wrapper a:hover,
.colors-section-order.address-socials-wrapper a:hover,
.colors-section-contacts.address-socials-wrapper a:hover {
	color: var(--White64);
	border-bottom-color: var(--White32);
}

.address-socials-wrapper {
	display: flex;
	padding: 2.4rem 2rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}

.adress-socials-wrapper a {
	font-weight: 500;
}

.fixed-block {
	position: fixed;
	z-index: 99;
}

section {
	min-height: 100vh;
	padding: 16rem 0;
	position: relative;
	width: 100vw;
}

.section-subheader {
	font-family: var(--font-serif);
	font-size: 2.6rem;
	line-height: 3.2rem;
	max-width: 800px;
	margin: 3.2rem auto 0;
	text-align: center;
}

.section-gradient-bottom {
	bottom: 0;
	height: 32rem;
	position: absolute;
	width: 100%;
}


/* Footer */

.license {
	font-size: .9rem;
	font-weight: 500;
	letter-spacing: .04em;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.by-kontora-wrapper {
	margin: 2rem auto 0;
	width: 8.8rem;
	height: 3.2rem;
}

.by-kontora-link {
	width: inherit;
	height: inherit;
}

.kontora-logo-svg {
	width: inherit;
	height: inherit;
}



/* Adaptiv ochka */

@media (min-width: 461px) {
	.only-phone {
		display: none;
	}
}

@media (max-width: 460px) {
	.only-desktop {
		display: none;
	}

	html,
	body {
		overflow-x: hidden;
		width: 100%;
		max-width: 100vw;
	}

	h1 {
		font-size: 3.6rem;
		line-height: 4.3rem;
	}

	h2>i,
	h2>nobr>i {
		font-size: 2.5rem;
		letter-spacing: -1px;
		top: -.05rem;
	}

	.input-wrapper {
		margin-top: 2.4rem;
	}

	input[type=text], input[type=datetime], input[type=tel], textarea {
		border-bottom-width: 2px;
	}

	button {
		padding: .6rem 2.4rem;
	}
	button:hover {
		transform: translateY(-.6rem);
	}

	.button-big {
		padding: 2rem;
	}

	.address-socials-wrapper {
		display: block;
		padding: 1.2rem .8rem;
		position: relative;
	}

	section {
		padding: 12rem 0;
	}

	.section-subheader {
		margin: 1.6rem .8rem 0;
		text-align: left;
	}
}