@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i|Montserrat:300,400,500&subset=cyrillic');

@font-face {
	font-family: 'Transgender Grotesk';
	src: url('../static/_fonts/Transgender Grotesk-Regular-Trial.eot');
	src: url('../static/_fonts/Transgender Grotesk-Regular-Trial.eot#iefix') format('embedded-opentype'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.woff2') format('woff2'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.woff') format('woff'), 
		url('../static/_fonts/Transgender Grotesk-Regular-Trial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--Pink100: rgba(255, 219, 228, 1);
	--Pink0: rgba(255, 219, 228, 0);

	--PinkLight100: rgba(245, 238, 242, 1);

	--PinkDark100: rgba(206, 141, 165, 1);

	--Black100: rgba(37, 37, 37, 1);
	--Black84: rgba(37, 37, 37, .84);
	--Black72: rgba(37, 37, 37, .72);
	--Black64: rgba(37, 37, 37, .64);
	--Black48: rgba(37, 37, 37, .48);
	--Black36: rgba(37, 37, 37, .36);
	--Black16: rgba(37, 37, 37, .16);
	--Black0: rgba(37, 37, 37, 0);

	--White100: rgba(255, 255, 255, 1);
	--White84: rgba(255, 255, 255, .84);
	--White72: rgba(255, 255, 255, .72);
	--White64: rgba(255, 255, 255, .64);
	--White48: rgba(255, 255, 255, .48);
	--White36: rgba(255, 255, 255, .36);
	--White16: rgba(255, 255, 255, .16);
	--White0: rgba(255, 255, 255, 0);

	--Gray100: rgba(161, 178, 197, 1);
	--Gray0: rgba(161, 178, 197, 0);

	--Violet100: rgba(150, 103, 188, 1);
	--Violet64: rgba(150, 103, 188, .64);
	--Violet32: rgba(150, 103, 188, .32);

	--font-default: 'Montserrat', sans-serif;
	--font-serif: serif;
	--font-transgender: 'Transgender Grotesk', sans-serif;
}



/* CSS reset */

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

blockquote::before,
blockquote::after {
    content: "";
}



/* Document Setup */

html {
	font-size: 62.5% !important;	/* 1rem = 10px */
}

html,
body {
	background-color: transparent;
	font-family: var(--font-default);
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	transition: background-color 0.25s linear;
}

body {
	color: var(--Black100);
	-webkit-text-size-adjust: none;
}

a {
	color: var(--Black100);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .175s ease-in-out;
}
a:hover {
	color: var(--Black64);
}

.link-underline-solid {
	border-bottom: .5px solid;
}
.link-underline-dashed {
	border-bottom: 1px dashed;
}
.link-underline-dotted {
	border-bottom: 1px dotted;
}

.input-wrapper {
	margin-top: 4.4rem;
	position: relative;
}

input[type=text],
input[type=datetime],
input[type=tel],
textarea {
	background: transparent;
	box-sizing: border-box;
	border: none;
	border-bottom: 4px solid;
	color: var(--Black100);
	font-size: 2.4rem;
	line-height: 2.8rem;
	margin: 0;
	outline: none;
	padding: 2rem 0;
	transition: all 0.35s ease-in-out; 
	-webkit-appearance: none;
}

.input-wrapper input[type="text"] + label[data-placeholder],
.input-wrapper input[type="datetime"] + label[data-placeholder],
.input-wrapper input[type="tel"] + label[data-placeholder],
.input-wrapper textarea {
	pointer-events: none;
}

.input-wrapper input[type="text"] + label[data-placeholder]:after,
.input-wrapper input[type="datetime"] + label[data-placeholder]:after,
.input-wrapper input[type="tel"] + label[data-placeholder]:after,
.input-wrapper textarea:after {
	content: attr(data-placeholder);
	cursor: text;
	color: var(--Black36);
	display: block;
	font-weight: 500;
	letter-spacing: .08em;
	text-transform: uppercase;
	padding: 0;
	position: absolute;
	top: 3.2rem;
	left: 0;
	-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	-webkit-transition: all 0.175s ease-in-out;
			transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"]:hover,
.input-wrapper input[type="datetime"]:hover,
.input-wrapper input[type="tel"]:hover,
.input-wrapper textarea:hover,
.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="datetime"]:focus,
.input-wrapper input[type="tel"]:focus,
.input-wrapper textarea:focus {
	border-bottom-color: var(--Black100);
}
.input-wrapper input[type="text"]:valid,
.input-wrapper input[type="datetime"]:valid,
.input-wrapper input[type="tel"]:valid,
.input-wrapper textarea:valid {
    border-bottom-color: var(--Black100);
}
.input-wrapper input[type="text"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="datetime"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:focus + label[data-placeholder]:after,
.input-wrapper textarea:focus + label[data-placeholder]:after,
.input-wrapper input[type="text"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="datetime"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:valid + label[data-placeholder]:after,
.input-wrapper textarea:valid + label[data-placeholder]:after {
    -webkit-transform: translate(-10%, -280%) scale(0.8, 0.8);
            transform: translate(-10%, -280%) scale(0.8, 0.8);
    color: var(--Black100);
}

.button,
button,
input[type=button],
input[type=submit] {
	background: var(--Black100);
	border: none;
	border-radius: 1000px;
	color: var(--White100);
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	letter-spacing: .08em;
	line-height: 1.6rem;
	padding: 2rem 2.4rem;
	text-transform: uppercase;
	transition: box-shadow .125s ease-in-out,
				transform .125s ease-in-out;
}
.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	transform: translateY(-.8rem);
}
.button:disabled,
button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled {
	background: var(--White16);
	color: var(--White48) !important;
	cursor: default;
	transform: none !important;
	-webkit-backdrop-filter: blur(8px);
			backdrop-filter: blur(8px);
}

.button-big {
	font-family: var(--font-transgender);
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1.8rem;
	text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-transgender);
	font-weight: 400;
	letter-spacing: -1px;
}

h1 {
	font-size: 8rem;
	line-height: 8.5rem;
	margin: 2rem 0 0;
}

h1+.subtitle {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 140%;
}

h2 {
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}

h2>i,
h2>nobr>i {
	font-size: 3.55rem;
	position: relative;
	top: -.05rem;
}

h2+.subtitle {
	font-size: 1.35rem;
	font-weight: 300;
	line-height: 140%;
}

h3 {
	font-size: 2rem;
	line-height: 140%;
	margin: 2rem 0 .5rem;
}

h4 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

i {
	font-family: var(--font-serif);
	font-style: italic;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.subtitle {
	font-size: .9rem;
	letter-spacing: .04em;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.font-dark {
	color: var(--Black100);
	border-bottom-color: var(--Black32);
}
.font-light {
	color: var(--White100);
	border-bottom-color: var(--White48);
}

.text-outlined {
	letter-spacing: 0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--Black);
}

.icon-svg {
	display: block;
	height: 100%;
	max-height: 5.7rem;
	max-width: 5.7rem;
	width: 100%;
}

.star-plus-svg,
.star-x-svg {
	display: inline-block;
}

::selection {
	background-color: var(--Black100);
	color: var(--White100);
}


/* Main */

#app {
	min-height: 100vh;
	transition: background-color 0.35s ease;
}

.address-socials-wrapper,
.address-socials-wrapper a {
	color: var(--Violet100);
	border-bottom-color: var(--Violet32);
}
.address-socials-wrapper a:hover {
	color: var(--Violet64);
	border-bottom-color: var(--Violet64);
}

.address-socials-wrapper {
	display: flex;
	padding: 2.4rem 2rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
}

.adress-socials-wrapper a {
	font-weight: 500;
}

.fixed-block {
	position: fixed;
	z-index: 99;
}

section {
	min-height: 100vh;
	padding: 16rem 0;
	position: relative;
	width: 100vw;
}

.section-subheader {
	font-family: var(--font-serif);
	font-size: 2.6rem;
	line-height: 3.2rem;
	max-width: 800px;
	margin: 3.2rem auto 0;
	text-align: center;
}

.section-gradient-bottom {
	bottom: 0;
	height: 32rem;
	position: absolute;
	width: 100%;
}


/* Footer */

.license {
	font-size: .9rem;
	font-weight: 500;
	letter-spacing: .04em;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.by-kontora-wrapper {
	margin: 2rem auto 0;
	width: 8.8rem;
	height: 3.2rem;
}

.by-kontora-link {
	width: inherit;
	height: inherit;
}

.kontora-logo-svg {
	width: inherit;
	height: inherit;
}



/* Site menu */

.site-menu {
	display: none;
	text-align: left;
	height: calc(100vh - 1rem);
	padding-left: 2rem;
	padding-top: 1rem;
	position: fixed;
	left: 0;
	top: 0;
	width: 8.5rem;
	z-index: 100;
}

.menu-icon {
	height: 1.5rem;
	margin-top: 1.3rem;
	width: 2rem;
	transition: .2s;
}

.menu-icon-line {
	border-radius: 4px;
	background: var(--Black);
	height: 3px;
	margin-bottom: .7rem;
	position: relative;
	transition: all .15s ease-in-out;
}
.menu-icon-line.first-line {
	width: 100%;
}
.menu-icon-line.second-line {
	width: 64%;
}

.site-menu:hover .menu-icon-line.first-line {
	transform: rotate(45deg);
	top: 2px;
}

.site-menu:hover .menu-icon-line.second-line {
	transform: rotate(-45deg);
	bottom: 12px;
	width: 100%;
}

.site-menu:hover .nav-link {
	opacity: 1;
}
.site-menu:hover .menu-icon {
	opacity: .12;
}

.site-menu-wrapper {
	margin-top: 4rem;
}

.nav-link {
	box-shadow: none;
	display: inline-block;
	font-size: .8rem;
	font-weight: 500;
	letter-spacing: .1em;
	margin: 1.25rem 0;
	outline: none;
	opacity: 0;
	text-transform: uppercase;
	transition: opacity .2s;	
}

.nav-link.active {
	border-width: 2px;
}



/* Second section */

.second-section {
	background: transparent;
	display: grid;
	height: 300vh;
	width: 100%;
}

.features-block {
	font-size: 1.25rem;
	line-height: 1.75rem;
	display: inline-block;
	position: absolute;
	left: 25vw;
}

.feature-header {
	display: inline-block;
	margin: 0 .5rem;
	position: relative;
	z-index: 1;
}

.sticker-free {
	background-color: yellow;
	border-radius: 20rem;
	height: 9rem;
	margin-right: -2rem;
	top: -3rem;
	width: 9rem;
	z-index: 0;
}

.howtoorderin2words-wrapper {
	right: 1.75rem;
	position: absolute;
	height: inherit;
}

.howtoorderin2words-block {
	background: linear-gradient(264deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.4));
	border-radius: 2.25rem;
	min-height: 16.5rem;
	margin: 0;
	padding: 2rem 2rem 0;
	position: -webkit-sticky;
	top: 20rem;
	width: 15.5rem;
	z-index: 98;
	box-shadow: 0 24px 44px rgba(165, 45, 70, 0.11);
}

.howtoorderin2words-block h4 {
	margin: 0 0 1rem;
}

.htoi2w-stepnum {
	display: inline-block;
	vertical-align: top;
	position: absolute;
}

.htoi2w-step p {
	display: inline-block;
	vertical-align: top;
	margin-left: 2rem;
	margin-top: 0;
}

.category-block {
	min-height: 120vh;
	margin-top: 5rem;
	position: relative;
	z-index: 7;
}
.category-gallery-block {
	margin-top: 100vh;
}

.category-block>h1+.subtitle { 
	max-width: 60vw;
	margin: 1rem 0 0 1.75rem;
}

.category-block-header {
	margin-left: 1.15rem;
}


.category-nav {
	border-top: .5px solid var(--BlackLinkBorder);
	margin: 7.35rem 0 0 5.5rem;
	position: absolute;
	transform: rotate(90deg);
	transform-origin: 0% 0%;
}

.category-nav-row {
	transform: rotate(180deg);
	display: inline-block;
	margin-left: -4px;
}
.category-nav-row:not(:last-child) {
	margin-bottom: 1.5rem;
}

.category-nav-link {
	border-bottom-color: transparent;
	color: var(--Black);
	font-size: .75rem;
	font-weight: 500;
	display: inline-block;
	letter-spacing: .2em;
	opacity: .36;
	padding: 1rem 1rem 2rem;
	text-transform: uppercase;
	transform: rotate(0deg);
	transition: all .15s;
}
.category-nav-row:first-child .category-nav-link {
	padding-right: 0;
}
.category-nav-row:last-child .category-nav-link {
	padding-left: 0;
}
.category-nav-link:hover {
	opacity: .72;
}

.category-nav-link.active {
	opacity: 1;
}
.category-nav-link.active:after {
	background: var(--Black);
	border-radius: 4px;
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	top: 4.27rem;
	width: calc(100% - 2rem);
	z-index: 1;
}
.category-nav-row:first-child .category-nav-link.active:after,
.category-nav-row:last-child .category-nav-link.active:after {
	width: calc(100% - 1rem);
}


.subcategory-wrapper {
	margin-top: 6rem !important;
}

.subcategory-content {
	max-width: 46rem;
	margin-left: 12.5vw;
}

.subcat>.subtitle {
	opacity: 1.0;
	}

/*.subcategory-content {
	width: 100%;
	max-width: 77.5vw;
	margin: 0 2rem 0 12.5vw;
}*/

.subcategory-full-title {
	margin-top: 6.75rem;
	width: calc(100vw - 15rem);
}

.subcategory-full-title .link-to-inst-block {
	display: inline-block;
	float: right;
}

.about-inst-kitchens {
	font-size: 0.85rem;
	font-style: italic;
	line-height: 1.35rem;
	display: inline-block;
	letter-spacing: -0.025em;
	margin: 0.5rem 2rem 0 0;
}

.subcategory-full-title .link-to-inst {
	background: var(--White);
	border-bottom: none;
	border-radius: 100px;
	color: var(--Black);
	float: right;
	font-size: .75rem;
	letter-spacing: 0;
	line-height: 140%;
	margin-right: 1.75rem;
	padding: .75rem 1.25rem;
	box-shadow: 0 6px 16px rgba(0,0,0,.12);
}

.subcategory-full-title .link-to-inst b {
	color: rgb(0, 0, 0);
	display: block;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.subcategory-full-title .link-to-inst span {
	opacity: .24;
}

.projects-gallery {
	display: grid;
	grid-auto-flow: row dense;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	grid-template-columns: repeat(2, calc(50% - 2rem));
	grid-template-rows: auto;
	margin-left: -8.25rem;
	width: calc(100vw - 3.5rem);
}

.project-link-block {
	grid-column-end: span 1;
	grid-row-end: span 1;
	height: auto;
	width: 100%;
	position: relative;
}
.project-link-block:hover {
	z-index: 1;
}

.project-link {
	border-bottom: none;
	display: block;
	margin: 1rem;
	max-height: calc(100% - 2rem);
	max-width: calc(100% - 2rem);
}
/*.project-link:hover {
	max-width: calc(50vw + 2rem);
	width: calc(50vw + 2rem);
	margin: 0;
	max-height: calc(120vh + 2rem);
	z-index: 1;
}*/

.project-thumb {
	border-radius: 0;
	max-width: inherit;
	max-height: inherit;
	object-fit: cover;
	transition: all .14s;
}
.project-thumb:hover {
	transform: scale(1.05);
	box-shadow: 0 2.5rem 5rem rgba(0,0,0,.12); 
}

.project-window {
	display: none;
	opacity: 0;
	visibility: hidden;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 100vw;
	min-width: 100vw;
	z-index: 1003;
}

.close-project {
	cursor: pointer;
	left: 1.75rem;
	position: fixed;
	top: 2.3rem;
}

.close-project-icon-cross {
	height: 2rem;
	width: 2rem;
}

.close-project-icon-cross-line {
	background: var(--White);
	border-radius: 4px;
	height: 3px;
	margin-bottom: .7rem;
	position: relative;
	transition: all .15s ease-in-out;
	width: 100%;
}

.close-project-icon-cross-line.first-line {
	transform: rotate(45deg);
	top: 2px;
}

.close-project-icon-cross-line.second-line {
	transform: rotate(-45deg);
	bottom: 12px;
}

.overlay {
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px);
	background: rgba(0,0,0,.72);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	max-width: 100vw;
	min-width: 100vw;
	transition: -webkit-backdrop-filter .25s,
				backdrop-filter .25s;
	z-index: 1002;
	visibility: hidden;
	opacity: 0;
}

.project-photos-block {
	margin: 1rem auto;
	width: 100%;
	max-width: 900px;
}

.project-photo {
	border-radius: 1.25rem;
	display: block;
	margin: 0 auto 1.5rem;
	width: auto;
	max-height: calc(100vh - 2rem);
}

.next-category {
	cursor: pointer;
	min-height: 264px;
	height: 264px;
	overflow: hidden;
	margin-bottom: -10rem;
	position: relative;
	z-index: 0;
}
.next-category:before {
	background: linear-gradient(rgba(255, 255, 255, .9), #fff 84%);
	content: '';
	height: 264px;
	width: 100%;
	position: absolute;
	transition: opacity .16s;
	z-index: 1;
}

.next-category:hover:before {
	opacity: .98;
}

.dialog-measurement-form {
	margin-top: 12rem;
	text-align: center;
}

.dialog-measurement-form .input-block {
	display: inline-block;
	margin-right: 2rem;
	position: relative;
}

.dialog-measurement-form .input-block input[type=tel] {
	max-width: 10rem;
}

.dialog-measurement-form .input-block input[type=text],
.dialog-measurement-form .input-block input[type=datetime],
.dialog-measurement-form .input-block input[type=tel] {
	border-bottom-color: var(--WhiteLinkOpacityBorder);
	padding: 1.35rem 0 .75rem;
}

.dialog-measurement-form .input-block input[type=text]:hover,
.dialog-measurement-form .input-block input[type=datetime]:hover,
.dialog-measurement-form .input-block input[type=tel]:hover {
	border-bottom-color: var(--White);
}

.dialog-measurement-form .input-block input[type=text] + label[data-placeholder],
.dialog-measurement-form .input-block input[type=datetime] + label[data-placeholder],
.dialog-measurement-form .input-block input[type=tel] + label[data-placeholder] {
	pointer-events: none;
}

.dialog-measurement-form .input-block input[type="text"] + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="datetime"] + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="tel"] + label[data-placeholder]:after {
	background-color: transparent;
	content: attr(data-placeholder);
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	font-size: .75rem;
	letter-spacing: .05em;
	text-transform: uppercase;
	-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	transition: all 0.35s ease-in-out;
	padding: 0 0;
}

.dialog-measurement-form .input-block input[type="text"]:focus,
.dialog-measurement-form .input-block input[type="text"]:valid,
.dialog-measurement-form .input-block input[type="datetime"]:focus,
.dialog-measurement-form .input-block input[type="datetime"]:valid,
.dialog-measurement-form .input-block input[type="tel"]:focus,
.dialog-measurement-form .input-block input[type="tel"]:valid {
	border-bottom-color: var(--White);
}

.dialog-measurement-form .input-block input[type="text"]:focus + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="datetime"]:focus + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="tel"]:focus + label[data-placeholder]:after {
	-webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
		transform: translate(-5%, -150%) scale(0.9, 0.9);
	color: var(--White);
	background-color: transparent;
}

.dialog-measurement-form .input-block input[type="text"]:valid + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="datetime"]:valid + label[data-placeholder]:after,
.dialog-measurement-form .input-block input[type="tel"]:valid + label[data-placeholder]:after {
	-webkit-transform: translate(-5%, -150%) scale(0.9, 0.9);
			transform: translate(-5%, -150%) scale(0.9, 0.9);
	color: green;
	background-color: transparent;
}

.invis {
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.section-title-text {
	display: inline-block;
}

.section-title-image{
	position: absolute;
    left: 20vw;
    top: 4vh;
    width: 60vw;
    height: 100vh;
}



/* Adaptiv ochka */

@media (min-width: 461px) {
	.only-phone {
		display: none;
	}
}

@media (max-width: 460px) {
	.only-desktop {
		display: none;
	}

	html,
	body {
		overflow-x: hidden;
		width: 100%;
		max-width: 100vw;
	}

	h2>i,
	h2>nobr>i {
		font-size: 2.5rem;
		letter-spacing: -1px;
		top: -.05rem;
	}

	button {
		padding: .6rem 2.4rem;
	}
	button:hover {
		transform: translateY(-.6rem);
	}
}